<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lsds.escolaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:theme="@style/AppTheme.ActivitySemBarra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.CriarContaActivity"
            android:label="@string/criar_conta_title" />
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/login_title" />
        <activity
            android:name=".activitys.AlunosActivity"
            android:label="@string/alunos_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.IncLocalActivity"
            android:label="@string/atv_inc_local" />
        <activity android:name=".activitys.AlunosChamados"
            android:label="@string/alunos_chamados_title"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>